#geomap {
  width: 100%;
  height: 60%;
}

#pathmap {
  width: 60%;
  height: 100%;
  float: left;
}
#addMenu {
  width: 30%; 
  line-height: 100%; 
  padding: 10px; 
  border: 2px blue solid; 
  margin-right: 20px; 
  float: left;
}


#barchart_age {
  width: 40%;
  height: 60%;
}

#barchart_city {
  width: 60%;
  height: 60%;
}

iframe {
  height: 600px
}

.toolTip {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 12px sans-serif;
  padding: 5px;
  text-align: center;
}

.legend {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 60%;
}

rect {
  stroke-width: 2;
}

text {
  font: 15px sans-serif;
  text-transform: capitalize;
}

.axis text {
  font: 15px sans-serif;
  text-transform: capitalize;
}

.axis path {
  fill: none;
  stroke: #000;
}

.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis .tick line {
  stroke-width: 1;
  stroke: rgba(0, 0, 0, 0.2);
}

.axisHorizontal path {
  fill: black;
}

.axisHorizontal line {
  fill: black;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axisHorizontal .tick line {
  stroke-width: 1;
  stroke: rgba(0, 0, 0, 0.2);
}

.bar {
  fill: steelblue;
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}

.ageGroup {
  fill: red;
  fill-opacity: .9;
}

rect.highlight {
  stroke: black;
}

.sub_option{
  margin: 5px 2px;
  border: 1px solid#CCC;
  padding: 4px;
  border-radius: 5px
}

.sub_card{
  margin: 5px 2px;
  padding: 4px;
  border-radius: 5px
}

.align_right {
  margin-left:auto;
  margin-right:2px;
  float: left;
}
